*{
    box-sizing:border-box;
}

body{
    margin:0;
    background:#0d0d0d;
    color:white;
    font-family:Arial,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:95%;
    max-width:700px;
    background:#1a1a1a;
    padding:30px;
    border-radius:20px;
    text-align:center;
}

h1{
    color:gold;
}

.continent-btn{

    width:100%;
    padding:20px;
    margin:15px 0;

    background:#222;
    color:white;

    border:none;
    border-radius:15px;

    font-size:22px;

    cursor:pointer;

    transition:.3s;

}

.continent-btn:hover{

    background:#ff69b4;

}