*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#090909;
    color:#fff;
    font-family:Arial,Helvetica,sans-serif;
}

/* HEADER */

header{
    background:#111;
    text-align:center;
    padding:30px 15px;
    border-bottom:2px solid #ff2e88;
}

header h1{
    font-size:42px;
    color:#ff2e88;
}

header p{
    color:#ddd;
    margin-top:10px;
}

.links{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
    margin-top:25px;
}

.links a{
    text-decoration:none;
    color:white;
    padding:12px 22px;
    border-radius:30px;
    font-weight:bold;
}

.facebook{
    background:#1877F2;
}

.whatsapp{
    background:#25D366;
}

.telegram{
    background:#229ED9;
}

.signup-btn{
    display:inline-block;
    margin-top:25px;
    background:gold;
    color:black;
    text-decoration:none;
    padding:15px 35px;
    border-radius:40px;
    font-weight:bold;
}

/* PROFILS */

.profiles{

    width:95%;

    max-width:1300px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:25px;

    padding:35px 0;

}

/* CARD */

.card{

    background:#181818;

    border-radius:20px;

    overflow:hidden;

    border:2px solid #2d2d2d;

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

    border-color:#ff2e88;

}

.card img{

    width:100%;

    height:430px;

    object-fit:cover;

    cursor:pointer;

}

.card h3{

    text-align:center;

    margin-top:15px;

    font-size:28px;

}

.card p{

    text-align:center;

    margin:12px;

    color:#ddd;

}

/* TARIFS */

.price{

    background:#101010;

    margin:15px;

    border-radius:15px;

    padding:15px;

    line-height:2;

    text-align:left;

    font-weight:bold;

}

/* BOUTON */

.reserve-btn{

    display:block;

    text-align:center;

    text-decoration:none;

    background:#25D366;

    color:black;

    margin:20px;

    padding:15px;

    border-radius:40px;

    font-size:20px;

    font-weight:bold;

}

.reserve-btn:hover{

    background:#34eb7b;

}

/* MODAL */

.modal{

    display:none;

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.95);

    justify-content:center;

    align-items:center;

    z-index:9999;

}

.modal img{

    max-width:95%;

    max-height:95%;

    border-radius:20px;

}

/* FOOTER */

footer{

    text-align:center;

    padding:50px 20px;

    background:#111;

    margin-top:50px;

}

footer h2{

    color:#ff2e88;

    margin-bottom:15px;

}

.media{
    width:100%;
}

.profile-image{
    width:100%;
    border-radius:12px;
    display:block;
    margin-bottom:10px;
}

.profile-video{
    width:100%;
    border-radius:12px;
    background:#000;
}